 body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  h1 {
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
  }
.card img {
    width: 100px;
    border-radius: 50%;
}  

.card {
    flex-direction: row;
    align-items: center;
}
.row .card p {
  overflow-wrap: break-word;
}

.navbar-brand {
  background-color: cadetblue;
}